<template>
    <ul class="chat">
        <li class="left clearfix" v-for="user in users">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ user.name }}
                    </strong>
                </div>
              <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-chat" @click="deleteUser(user)">
                Remove
            </button>
        </span>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
  
  props: ['users'],
  
        methods: {
            deleteUser(user) {
                this.$emit('userdeleted', user);

            },
        }
};
</script>